<div class="container">
  <div class="row">
    <div class="col-md">
      <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user' do |f| %>
        <%= render "user/shared/error_messages", resource: resource %>
        
        <div class="border col-8 mt-5">
           <br>
         <h2>新規ユーザー登録</h2>
        <br>
        <div class="row">
            <div class="col-md">
                <form>
                    <div class="form-group row">
                      <%= f.label :image, "アイコン画像", class: "col-sm-4 col-form-label" %>
                      <div class="col-sm-8">
                        <div class="custom-file">
                       <%= f.file_field :image, accept: "image/*" %>
                        </div>
                      </div>
                    </div>
                    <div class="form-table">
                      <th><%= f.label :名前 %></th><br>
                      <td><%= f.label :（性） %></td><br>
                      <td><%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "col-sm-7" %></td><br>
                      <td><%= f.label :（名） %></td><br>
                      <td><%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" , class: "col-sm-7" %></td><br>
                    </div>
                    <div class="form-table">
                      <th><%= f.label :フリガナ %></th><br>
                      <td><%= f.label :（セイ） %></td><br>
                      <td><%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana", class: "col-sm-7" %></td><br>
                      <td><%= f.label :（メイ） %></td><br>
                      <td><%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana", class: "col-sm-7" %></td><br>
                    </div>
                    <div class="form-table">
                      <%= f.label :メールアドレス %><br>
                      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-sm-7" %>
                    </div>
                    <div class="form-table">
                      <%= f.label :パスワード %>
                        <% if @minimum_password_length %>
                    <em>(最小<%= @minimum_password_length %> 文字)</em>
                        <% end %><br>
                        <%= f.password_field :password, autocomplete: "new-password", class: "col-sm-7" %>
                    </div>
                    <div class="form-table">
                      <%= f.label :パスワード再確認 %><br>
                      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "col-sm-7" %>
                    </div>
                    <div class="form-table">
                      <%= f.label :自己紹介文 %><br />
                      <%= f.text_field :introduction, autocomplete: "introduction", class: "col-sm-7" %>
                    </div>
                    <div class="actions">
                       <%= f.submit "新規登録" ,class: "mt-2" %>
                    </div>
                    <%= render "user/shared/links" %>
                </form>
            </div>
        </div>
        </div>
      <% end %>
    </div>
  </div>
</div>



