<h1>投稿編集画面</h1>

<%= form_with model: @post do |f| %>
    
    <p>写真</p>
    <%= f.label :image, "写真" %>
    <%= f.file_field :image, accept: "image/*"%>

    <p>タイトル</p>
    <%= f.label :title, "タイトル" %>
    <%= f.text_field :title %>

    <p>内容</p>
    <%= f.label :introduction, "記事" %>
    <%= f.text_area :introduction %></br>
    
    <%= f.submit '更新完了', class: "btn btn-success text-white" %>
    
    <%= link_to '投稿削除',admin_post_path(@post.id), method: :delete, class: "btn btn-danger text-white" %>
    
    <%= link_to '投稿詳細へ', admin_post_path(@post.id) %> 
    
    <%= link_to '戻る', posts_path %>
    
<% end %>