<h1>投稿を編集する</h1>

<%= form_with model: @post do |f| %>

    <p>タイトル</p>
    <%= f.text_field :title %>

    <p>内容</p>
    <%= f.text_area :introduction %></br>
    <%= f.submit '更新完了', class: "btn btn-success text-white" %>
    
    <%= link_to '投稿詳細へ', post_path(@book.id) %> 
    <%= link_to '戻る', posts_path %>
    
<% end %>