<h1>タイムライン~投稿一覧~</h1>
<div class="container">
    <div class="row">
        <%= render "user/posts/search" %>
        <%= render "user/posts/genre.search", genres: @genres %>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>タイトル</th>
                    <th></th>
                    <th>内容</th>
                    <th>ジャンル</th>
                    <th></th>
                    <th>いいね</th>
                    <th>コメント</th>
                </tr>
            </thead>
            <tbody>
                <% @posts.each do |post| %>
                <tr>
                    <td>
                        <% if post.image.attached? %>
                            <%= image_tag post.image, size: "200x200" %>
                        <% else %>
                            <%= image_tag 'no_image', size: "200x200" %>
                         <% end %>
                        <%= link_to user_path(post.user.id) do %>
                        <% end %>
                    </td>
                    <td>
                        <%#= truncate(post.description, length: 7) do %>
                        <%= link_to post.title, post_path(post.id) %>
                        <%# end %>
                    </td>
                    <td></td>
                    <td>
                        <%#= truncate(post.description, length: 10) do %>
                        <%= post.introduction %>
                        <%# end %>
                    </td>
                    <td>
                        <%# post.genre_id.each do |genre| %>
                        <%= post.genre.name %>
                        <%# end %>
                    </td>
                    <td></td>
                    <td>
                        <%= post.bookmarks.count %>いいね
                    </td>
                    <td>
                        <p><%= link_to "#{post.comments.count} コメント", post_path(post.id) %></p>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
