<h1>新規投稿</h1>

<%= render "user/posts/search" %>

<%= form_with model: @post, url: new_post_path do |f| %>
    <div class="check_box">
      <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
        <div class='form-check'>
            <%= tag.label do %>
    　          <%= tag.check_box %>
    　          <%= tag.text %>
    　      <% end %>
        </div>
      <% end %>
    </div>
    <div class="image">
        <%= f.label :image, "写真" %>
        <%= f.file_field :image, accept: "image/*"%>
    </div>

    <div class="タイトル">
        <%= f.label :title, "タイトル" %>
        <%= f.text_field :title %>
    </div>

    <div class="記事">
        <%= f.label :introduction, "記事" %>
        <%= f.text_area :introduction %>
    </div>
    
    <%= f.submit '新規投稿', class: "btn btn-success text-white mt-3" %>
    
<% end %>

    

