<h1>新規投稿</h1>

<div class="field">
  <%= form_with model: @user, url: search_posts_path, local: true, method: :get do |f| %>
    <%= f.label :keyword, "キーワード入力" %>
    <%= f.text_field :keyword %>
    
    <%= f.submit "検索" %>
  <% end %>
</div>


<%= form_with model: @user, url: new_post_path do |f| %>
    <div class="image">
        <%= f.label :image, "写真" %>
        <%= f.file_field :image, accept: "image/*"%>
    </div>

    <div class="タイトル">
        <%= f.label :title, "タイトル" %>
        <%= f.text_field :title %>
    </div>

    <div class="記事">
        <%= f.label :introduction, "記事" %>
        <%= f.text_area :introduction %>
    </div>
    
    <%= f.submit "投稿する" %>
    
<% end %>

    

