
<div class="container">
    <div class="row">
        <div class="col-md">
            <h1>新規投稿</h1>
                <%= render "user/posts/search" %>
                <%= form_with model: @post, url: posts_path do |f| %>
            <div class="genre">
                <%= f.label :genre_id, "ジャンル" %>
                <div class="col-sm-2 mt-3">
                    <%= f.collection_select :genre_id, Genre.all, :id, :name, {prompt: "選択してください"}, {class: "form-control"} %>
                </div>
            </div>
            <div class="image mt-3">
                <%= f.label :image, "写真" %>
                <%= f.file_field :image, accept: "image/*"%>
            </div>
            <div class="タイトル mt-3">
                <%= f.label :title, "タイトル" %>
                <%= f.text_field :title %>
            </div>
            <div class="記事 mt-3">
                <%= f.label :introduction, "記事" %>
                <%= f.text_area :introduction %>
            </div>
                <%= f.submit '新規投稿', class: "btn btn-success text-white mt-3" %>
                <% end %>
        </div>
    </div>
</div>




