<h1>投稿詳細</h1>

<tr class="post_image">
    <td>
        <%#= image_tag @post.image, size: "100×100"%>
      <% if @post.image.attached? %>
        <%= image_tag @post.image, size: "200x200" %>
     <% else %>
        <%= image_tag 'no_image', size: "200x200" %>
     <% end %>
    </td>
</tr>

<tr class="title">
    <td>
        <%= @post.title %>
    </td>
</tr>

<tr class="introduction">
    <td>
        <%= @post.introduction %>
    </td>
</tr>

<% if @post.bookmarked_by?(current_user) %>
    <p>
      <%= link_to post_bookmarks_path(@post), method: :delete do %>
        ♥<%= @post.bookmarks.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to post_bookmarks_path(@post), method: :post do %>
        ♡<%= @post.bookmarks.count %> いいね
      <% end %>
    </p>
<% end %>

<div>
  <p>コメント件数：<%= @post.comments.count %></p>
  <% @post.comments.each do |comment| %>
    <p><%#= image_tag post_comment.user.get_profile_image(100,100) %></p>
    <%= comment.user.last_name %>
    <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
    <% if comment.user == current_user %>
      <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete %>
    <% end %>
  <% end %>
</div>
<div>
  <%= form_with model: [@post, @comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>


